# Default ignored files
/shelf/
/workspace.xml
/deploymentTargetDropDown.xml
/migrations.xml
deploymentTargetSelector.xml
other.xml
modules.xml
AndroidProjectSystem.xml
appInsightsSettings.xml
runConfigurations.xml
caches